{% extends 'base.html' %}

{% block body %}

<form class="example-form" method="post" action="/home" name="searchForm" ">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="searchStr" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">
        <button class="submitBtn btn" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>

</form>

{% endblock %}
